<%- include("partials/header") -%>

<br>

<a href="/compose"><button type="button" class="btn btn-outline-dark pull-right">Create Post</button></a>


<h1>Home</h1>
<p><%= startingContent %></p>


<% posts.forEach(function(post){ %>
  <h1><%= post.title %></h1>
  <p><%= (post.content).substring(0,99) + "..."; %>
    <a href="/posts/<%= post.title %>">Read More</a>
  </p>
<% }); %>

<%- include("partials/footer") -%>
